body{
    margin: 0;
    overflow-x: hidden;
}

#top-menu{
    width: 100%;
    position: relative;
}

.logo{
    height: 7vw;
    width: auto;
    z-index: 4;
    left: 6vw;
    top: 1vw;
    position: absolute;
}

.ham{
    display: none;
}

.menu-svg{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 3;
}

.menu-items{
    display: grid;
    width: 650px;
    font-family: openSans-Bold;
    font-size: small;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 100px;
    grid-gap: 20px;
    position: absolute;
    right: 0;
    z-index: 4;
    text-align: center;
    grid-template-areas: 'one two three four five';
    align-items: center;
    margin-top: 35px;
}

.item-five{
    height: 22px;
    width: 55px;
    padding: 5px 40px 5px 15px;
    background-color: #C3BFBC;
    border: 2px solid #C3BFBC;
    border-radius: 50vh;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 80px;
    transition: 400ms;
    grid-area: five;
}

.item-one{
    grid-area: one;
    transition: 200ms;
}

.item-two{
    grid-area: two;
    transition: 200ms;
}

.item-thee{
    grid-area: three;
    transition: 200ms;
}

.item-four{
    grid-area: four;
    transition: 200ms;
}

.item-five:focus{
    width: 250px;
    background-position: 275px;
}

.item-five:focus ~ .item{
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

.item{
    color: #54524f;
}

.body-part-one{
    height: auto;
    width: 100%;
    position: relative;
}

.one-grad{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(189,222,255,0.2), rgba(189,222,255,0.05));
    z-index: 1;
}

.one-body{
    height: 45vw;
    width: 45vw;
    position: absolute;
    top: 20vw;
    color: white;
}

.one-body-head{
    padding-left: 100px;
    font-family: openSans-ExtraBold;
    font-weight: bold;
    font-size: 40pt;
    text-shadow: 2px -2px 3px rgba(0,0,0,0.15);
    color: #deb37e;
    position: relative;
    z-index: 2;
}

.one-subhead{
    display: block;
    font-family: openSans-SBI;
    font-size: 12pt;
    color: #54524f;
    text-shadow: none;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.one-button{
    display: block;
    margin-top: 30px;
    font-family: openSans-ExtraBold;
    font-size: 16pt;
    background-color: #fefdfc;
    color: #776c64;
    width: 170px;
    text-align: center;
    padding: 10px;
    border-radius: 50vh;
    margin-left: 100px;
    position: relative;
    z-index: 3;
}

.one-info{
    padding-left: 100px;
    margin-top: 20px;
    font-family: openSans-Regular;
    font-style: italic;
    color: #54524f;
    position: relative;
    z-index: 2;
}

.body-part-one-img{
    width: 100%;
    height: auto;
}

.body-part-two-img{
    width: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: -20px;
    height: auto;
    filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.3));
}

.body-part-two{
    height: 700px;
    width: 100%;
    background-color: white;
    position: relative;
}

.part-two-body{
    position: absolute;
    width: 100%;
    background-color: white;
    top: -10px;
    z-index: 4;
}

.shadow-img-one{
    position: absolute;
    left: -5vw;
    bottom: 20px;
    height: 25vw;
    width: auto;
    opacity: 0.8;
    z-index: 5;
}

.two-head{
    font-family: openSans-ExtraBold;
    text-align: center;
    font-size: 26pt;
    color: #e2a355;
}

.two-subhead{
    max-width: 500px;
    margin: auto;
    font-family: openSans-Regular;
    color: #7f7770;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 30px;
}

.two-subs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    max-width: 1000px;
    margin: auto;
}

.two-sub-head{
    display: block;
    padding: 10px 0;
    font-family: openSans-Bold;
    font-size: 14pt;
}

.two-sub-one-img{
    height: 230px;
    width: 230px;
    background-image: url(../img/two-one.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.two-sub-two-img{
    height: 230px;
    width: 230px;
    background-image: url(../img/two-two.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.two-sub-three-img{
    height: 230px;
    width: 230px;
    background-image: url(../img/two-three.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-text{
    width: 210px;
    height: 105px;
    padding: 15px 10px;
    background-color: #7f7770;
    color: white;
    overflow: hidden;
    font-family: openSans-Regular;
    font-size: 10pt;
}

.two-button{
    text-align: center;
    width: 180px;
    margin: 40px auto;
    padding: 15px 10px;
    background-color: #7f7770;
    color: white;
    font-family: openSans-ExtraBold;
    letter-spacing: 2px;
    word-spacing: 3px;
    border-radius: 50vh;
}

.body-part-three{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.three-one{
    height: auto;
    width: 100%;
    background-color: #7F7770;
}

.three-info-one-head{
    font-family: openSans-Bold;
    font-size: 30pt;
    padding: 0vw 3vw 3vw 3vw;
    color: white;
}

.three-info-one-body{
    font-family: openSans-Regular;
    font-size: 14pt;
    max-width: 400px;
    padding: 0vw 3vw 3vw 3vw;
    color: white;
}

.three-info-one-btn{
    font-family: openSans-Bold;
    color: white;
    background-color: #e2a355;
    width: 200px;
    border-radius: 50vh;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 12pt;
    text-align: center;
    padding: 15px 5px;
    margin-left: 3vw;
}

.three-two{
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
}

.three-info-two-head{
    font-family: openSans-Bold;
    font-size: 30pt;
    padding: 0vw 3vw 3vw 3vw;
    color: white;
    text-align: right;
}

.three-info-two-body{
    font-family: openSans-Regular;
    font-size: 14pt;
    max-width: 400px;
    padding: 0vw 3vw 3vw 3vw;
    margin: 0;
    color: white;
    margin-left: auto;
    text-align: left;
}

.three-info-two-btn{
    font-family: openSans-Bold;
    color: white;
    background-color: #e2a355;
    width: 200px;
    border-radius: 50vh;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 12pt;
    text-align: center;
    padding: 15px 5px;
    margin-left: auto;
    margin-right: 3vw;
}

.three-two{
    height: 100%;
    width: 100%;
    background-color: #7F7770;
}

.body-part-four{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.four-one{
    height: 100%;
    width: 100%;
    background-color: #DEB37E;
    display: grid;
    align-items: center;
}

.four-two{
    height: auto;
    width: 100%;
    background-color: #DEB37E;
}

.body-part-five{
    height: 700px;
    width: 100%;
    background-color: #99928D;
    position: relative;
    margin: 0;
}

.five-one{
    width: 100%;
    height: auto;
    position: absolute;
    top: -5px;
}

.five-head{
    font-family: openSans-SB;
    font-size: 30pt;
    text-align: center;
    padding: 20px 30px;
    color: white;
}

.five-main-body{
    display: grid;
    align-items: center;
    height: 100%;
    color: white;
    font-family: openSans-Regular;
    font-size: 14pt;
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px 30px 0 30px;
}

.five-two{
    position: absolute;
    left: -5vw;
    bottom: 90px;
    height: 25vw;
    width: auto;
    opacity: 0.8;
    z-index: 0;
}

.five-three{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.body-part-six{
    width: 100%;
    background-color: #99928D;
    position: relative;
    margin: 0;
}

.six-one{
    height: auto;
    width: 100%;
    position: absolute;
}

.six-body{
    font-family: openSans-EBI;
    color: black;
    font-size: 40pt;
    position: absolute;
    top: 0;
    height: 100%;
    right: 60px;
    text-align: right;
    text-shadow: 2px -3px 3px rgba(0, 0, 0, 0.15);
    display: grid;
    align-items: center;
}

.six-sub-one{
    color: #deb37e;
}

.six-sub-two{
    color: #54524f;
}

.six-two{
    width: 100%;
    height: auto;
}

.six-three{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.body-part-seven{
    height: 600px;
    width: 100%;
    position: relative;
}

.seven-subs{
    display: grid;
    max-width: 1000px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin: auto;
}

.seven-sub-head{
    color: #deb37e;
    font-family: openSans-Bold;
    font-size: 16pt;
    margin-bottom: 25px;
    padding: 10px;
}

.seven-sub-body{
    color: #333d42;
    font-family: openSans-Regular;
    font-size: 11pt;
    padding: 0 10px;
}

.seven-marks{
    font-family: openSans-Bold;
    margin-top: 150px;
    font-size: 50pt;
    color: #3f3f3f;
    text-align: center;
}

.seven-cont{
    max-width: 700px;
    margin: auto;
    text-align: center;
    font-family: openSans-SB;
    font-size: 14pt;
    color: #3f3f3f;
    padding: 0 20px;
}

.seven-end{
    color: #3f3f3f;
    text-align: center;
    font-family: openSans-Bold;
    margin-top: 40px;
    font-size: 13pt;
}

.body-part-eight{
    height: 700px;
    width: 100%;
    position: relative;
    background-color: #DEB37E;
}

.eight-one{
    height: auto;
    width: 100%;
    position: absolute;
}

.eight-body{
    display: grid;
    position: relative;
    top: 0;
    height: 100%;
    align-items: center;
    z-index: 4;
}

.eight-title{
    color: white;
    text-align: center;
    width: 100vw;
    font-family: openSans-Bold;
    font-size: 40pt;
}

.eight-cont{
    color: #54524f;
    text-align: center;
    font-family: openSans-Regular;
    font-size: 16pt;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
}

.eight-email{
    position: relative;
    width: 100%;
    display: grid;
    justify-items: center;
    margin-top: 40px;
}

.email-sub{
    height: 30px;
    width: 250px;
    border: 0px;
    border-radius: 50vh;
    padding: 5px 170px 5px 20px;
    font-family: openSans-Regular;
    font-size: 11pt;
}

.subs-btn{
    padding: 9px 0;
    width: 150px;
    font-weight: bold;
    text-align: center;
    border-radius: 50vh;
    border: 0px;
    background-color: #54524F;
    color: white;
    position: absolute;
    font-family: openSans-SB;
    font-size: 12pt;
    left: calc(50% + 70px);
}

.eight-three{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.body-part-nine{
    height: 770px;
    width: 100%;
    position: relative;
    background-color: #7F7770;
    font-family: montserrat-Regular;
    color: white;
}

.nine-one{
    height: auto;
    width: 100%;
}

.nine-icons{
    display: grid;
    width: 175px;
    grid-template-columns: 30px 30px 30px 30px;
    grid-gap: 15px;
    margin-top: 30px;
}

.connect-icon{
    width: 30px;
    height: 30px;
}

.nine-subs{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 170px 70px;
}

.nine-sub-head{
    font-size: 18pt;
    margin-bottom: 20px;
}

.nine-one-body{
    max-width: 350px;
}

.nine-link{
    display: block;
    max-width: 150px;
    margin: auto;
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
}

.nine-subs-part-two{
    z-index: 4;
}

@media only screen and (max-width: 800px) {

    .item{
        pointer-events: none;
        cursor: default;
        opacity: 0;
    }

    .ham{
        display: block;
        position: absolute;
        height: 30px;
        width: auto;
        z-index: 4;
        top: 40px;
        right: 25px;
    }

    .one-body{
        width: 70%;
        height: 100%;
        top: 240px;
    }

    .one-body-head{
        padding-left: 30px;
    }

    .one-button{
        margin-left: 30px;
    }

    .one-info{
        padding-left: 30px;
        padding-right: 30px ;
    }

    .two-head{
        margin-top: 30px;
    }

    .body-part-three{
        display: block;
    }

    .three-two{
        height: 500px;
        margin: -4px 0;
    }

    .three-info-one-head{
        font-size: 30pt;
        padding: 0 20px 30px 20px;
    }

    .three-info-one-body{
        padding: 0 20px 30px 20px;
    }

    .three-info-one-btn{
        margin-left: 20px;
    }

    .three-info-two-head{
        font-size: 30pt;
        text-align: left;
        padding: 0 20px 30px 20px;
    }

    .three-info-two-body{
        text-align: left;
        padding: 0 20px 30px 20px;
        margin: 0;
    }

    .three-info-two-btn{
        margin-left: 20px;
    }

    .four-one{
        height: 500px;
        grid-area: two;
    }

    .four-two{
        grid-area: one;
    }

    .body-part-four{
        grid-template-columns: 1fr;
        grid-template-areas:
            'one'
            'two';
    }

    .seven-sub-body{
        margin-bottom: 70px;
    }

    .seven-subs{
        display: block;
        max-width: 300px;
        text-align: center;
    }

    .body-part-two{
        height: 1550px;
    }

    .two-subs{
        display: block;
        margin: auto;
    }

    .two-sub-part{
        margin: 50px calc(50% - 115px);
    }

    .body-part-seven{
        height: 1100px;
    }

    .body-part-eight{

    }

    .eight-title{
        font-size: 30pt;
    }

    .email-sub{
        padding: 5px 20px 5px 20px;
        width: 80vw;
    }

    .eight-cont{
        padding: 0 20px;
    }

    .subs-btn{
        left: calc(50% - 75px);
        top: 70px;
    }

    .body-part-nine{
        height: 1200px;
    }

    .nine-subs{
        display: block;
        margin: 50px;
    }

    .nine-subs-part-one{
        text-align: center;
        margin-bottom: 60px;
    }

    .nine-one-body{
        margin: auto;
    }

    .nine-icons{
        margin: auto;
        margin-top: 30px;
    }

    .nine-subs-part-two{
        text-align: center;
        margin: auto;
    }

    .nine-sub-head{
        margin: auto;
        margin-bottom: 30px;
    }

    .nine-two-body{
        margin-bottom: 60px;
    }

    .nine-three-body{
        margin-bottom: 60px;
    }

    .nine-four-body{
        margin-bottom: 60px;
    }

}

@media only screen and (max-width: 1100px) {
    .menu-svg{
        height: 170px;
        width: 100%;
        object-fit: cover;
    }

    .menu-items{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50px;
    }

    .logo{
        height: 80px;
        width: auto;
        top: 12px;
    }

    .body-part-one-img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

@media only screen and (max-width: 600px) {
    .one-body{
        width: 100%;
        height: 100%;
        top: 300px;
    }
}







.link{
    text-decoration: none;
    display: block;
}




@media only screen and (max-width: 800px) {
    .menu-items{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 57px;
    }
}

@media only screen and (max-width: 500px) {
    .one-body{
        top: 200px;
    }

    .item-five{
        display: none;
    }
}
